{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Entry
{% endblock %}

{% block body %}
    <form method="POST">
      {% csrf_token %}
      <h2>Create New Entry</h2>
      {{form.title.errors}}
      <label for="entry-title" class="form-label">Title</label>
      <input type='text' class="form-control" name='title' style="width:80%" id="entry-title" value={{title}}>
      <br />
      {{form.content.errors}}
      <label for="entry-content" class="form-label">Content</label>
      <textarea id="entry-content" name="content" class="form-control">{{content}}</textarea>
      <br />
      <input type="submit" value="submit" class="btn btn-primary">
    </form>

{% endblock %}